{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block style %}{% endblock style %}
        
    <title>{% block title %}{% endblock title %}</title>
</head>
<div class="container" style='display: flex; justify-content: center;'>
    <div class="block" style="max-width: 800px;">
        <body>
            <nav>
                <ul>                    
                    <li><a href="{% url 'prerequisites' %}">Prerequisites</a></li>                        
                    <li><a href="{% url 'article-detail' 1 %}">Chapitre 1 - Django et test fonctionnel.</a></li>
                    <li><a href="{% url 'article-detail' 2 %}">Chap2</a></li>
                    <li><a href="{% url 'article-detail' 3 %}">Chap3</a></li>
                    <li><a href="{% url 'article-detail' 4 %}">Chap4</a></li>
                    <li><a href="{% url 'article-detail' 5 %}">Chap5</a></li>        
                </ul>  
            </nav>
            
            {% block article %}{% endblock article %}
            <a href="{% url 'home' %}">Accueil</a>
        </body>
    </div>
</div>

</html>