{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block style %}{% endblock style %}
        
    <title>{% block title %}{% endblock title %}</title>
</head>
<div class="container" style='display: flex; justify-content: center;'>
    <div class="block" style="max-width: 800px;">
        <body>
            <nav>
                <ul>
                    <li><a href="/chaps/1">Prerequisites</a></li>
                    <li><a href="/chaps/2">Chap1</a></li>
                    <li><a href="/chaps/3">Chap2</a></li>
                    <li><a href="/chaps/4">Chap3</a></li>
                    <li><a href="/chaps/5">Chap4</a></li>
                    <li><a href="/chaps/6">Chap5</a> </li>            
                </ul>  
            </nav>
            
            {% block article %}{% endblock article %}
        </body>
    </div>
</div>

</html>